.navItem {
  border: solid red 2px;
  background-color: darkcyan;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 200px;
}

/* .firstNav {
  margin-left: 500px;

} */

.startingNav {
  font-size: large;
}

.cart {
  /* text-align: right; */
  border: solid pink 2px;
  width: 100px;
  float: right;

}
